<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Entry</title>
</head>
<body>

<header>
    <nav>
        <a href="/home">Home</a> |
        <a href="/blogentry">Blog Entries</a> |
        <a href="/blogauthor">Blog Authors</a> |
        <a href="/aboutbootcamp">About Bootcamp</a>
    </nav>

</header>


<br><br><br>

<div id="titlecenter">

    <p id="homepagetitle"><strong>Java Bootcamp Blog</strong></p>

</div>

<div style="background-color:lightblue">
    <!--<h4>What is Java?</h4>-->
    <!--<hr>-->
    <table>
        <tr>
            <th>Title:</th>
            <td>&nbsp&nbsp&nbsp&nbsp</td>
            <td>What Is Java?</td>
            <td>&nbsp&nbsp&nbsp&nbsp</td>
            <th>Date:</th>
            <td>&nbsp&nbsp&nbsp&nbsp</td>
            <td>08/21/2019</td>
        </tr>
    </table>
    <p>Java is a programming language... <a href="/blogentry">View More...</a></p>
</div>

<div style="background-color:lightblue">
    <!--    <p>Home Page</p>-->
    <!--    <h4>What is HTML?</h4>-->
    <!--    <hr>-->
    <table>
        <tr>
            <th>Title:</th>
            <td>&nbsp&nbsp&nbsp&nbsp</td>
            <td>What Is HTML?</td>
            <td>&nbsp&nbsp&nbsp&nbsp</td>
            <th>Date:</th>
            <td>&nbsp&nbsp&nbsp&nbsp</td>
            <td>08/21/2019</td>
        </tr>
    </table>
    <p>HTML is a programming language... <a href="/blogentry">View More...</a></p>



</div>

<div style="background-color:lightblue">
    <!--    <p>Home Page</p>-->
    <!--    <h4>What is CSS3?</h4>-->
    <!--    <hr>-->
    <table id="whatiscss">
        <tr>
            <th>Title:</th>
            <td>&nbsp&nbsp&nbsp&nbsp</td>
            <td>What Is CSS3?</td>
            <td>&nbsp&nbsp&nbsp&nbsp</td>
            <th>Date:</th>
            <td>&nbsp&nbsp&nbsp&nbsp</td>
            <td>08/21/2019</td>
        </tr>
    </table>
    <p>CSS3 is a programming language... <a href="/blogentry">View More...</a></p>
</div>

<div style="background-color:lightblue">
    <!--    <p>Home Page</p>-->
    <!--    <h4>What is GitHub?</h4>-->
    <!--    <hr>-->
    <table>
        <tr>
            <th>Title:</th>
            <td>&nbsp&nbsp&nbsp&nbsp</td>
            <td>What Is GitHub?</td>
            <td>&nbsp&nbsp&nbsp&nbsp</td>
            <th>Date:</th>
            <td>&nbsp&nbsp&nbsp&nbsp</td>
            <td>08/21/2019</td>
        </tr>
    </table>
    <p>GitHub... <a href="/blogentry">View More...</a></p>
</div>


</body>
</html>